<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:targetApi="34">
        
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".view.LanguageLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity" />
        
        <activity
            android:name=".view.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity" />
        
        <activity
            android:name=".view.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity" />

        <!-- Translation Widget Provider -->
        <receiver 
            android:name=".widget.TranslationWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/translation_widget_info" />
        </receiver>
    </application>

</manifest>
